.slides {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

:local {
  .photo-container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}