@keyframes fader {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  75% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}

body {
  margin: 0;
  padding: 0;
}

.red-background {
  background: radial-gradient(ellipse at center, #ca3c20 40%,#4d1004 100%);
  color: white;
}

.blue-background {
  background: radial-gradient(ellipse at center, #253d8a 40%,#0f1a40 100%);
  color: white;
}

.yellow-background {
  background: radial-gradient(ellipse at center, #fee90b 40%,#AD7200 100%);
  color: #1A1100;
}

.guardian-container {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding-right: 2rem;
  background-image: url('../../micosay-logo-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-family: 'Cinzel', serif;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
  .title {
    width: 100vw;
    h1 {
      width: 100%;
      font-size: 4rem;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.guardian {
  text-align: center;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
}
.loader {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-right: 2.5rem;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.longList {
  animation: 10s ease-out fader;
  animation-iteration-count: infinite;
  width: 20vw;
  height: 5vh;
  .guardian-name { font-size: 1.125rem; }
  .tribal-name { 
    width: 75%;
    margin: auto;
    font-size: 0.75rem; 
  }
}
.reset { opacity: 0; }
.shortList {
  animation: 60s ease-out fader;
  animation-iteration-count: infinite;
  width: 22vw;
  height: 5vh;
  justify-content: space-around;
  .guardian-name { font-size: 1.5rem; }
  .tribal-name { font-size: 1.2rem; }
}